
@{
    ViewBag.Title = "ExitDenied";
}

<style>
    .btn-wide{
        width: 100%;
        font-weight: bolder;
    }
</style>

<h2>Viewbag.Title</h2>

<div class="row">
    <div class="col-md-12 text-center h3">
        <p id="message">@Html.Raw(TempData["Message"])</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Return to Dashboard", "Index", "Home", null, new { @class = "btn btn-success btn-wide"})
    </div>
</div>

<hr style="border: 2px solid black" />

<div class="row">
    <div class="col-md-12 text-center">
        @Html.ActionLink("Appoint Successor and leave", "AppointSuccessor", null, new { @class = "btn btn-success btn-wide" })
    </div>
</div>

